@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');

* {
	font-family: "Kalnia Glaze", serif;
}

body {
	background-color: #131842;
}

.head div {
	display: grid;
	justify-content: center;
	align-items: center;
	border: 2px solid #FF7EE2;
	border-radius: 1rem;
}

.head {
	display: grid;
	grid-template-columns: repeat(5,20%);
	grid-template-areas: 
	"h h h h h"
	"l c r m n "
	"w w w w w";
}

.title {
	grid-area: h;
}

.img1 {
	grid-area: l;
}

.img2 {
	grid-area: c;
}

.img3 {
	grid-area: r;
}

.img4 {
	grid-area: m;
}

.img5 {
	grid-area: n;
}

.word {
	grid-area: w;
}

.head img {
	width: 15vw;
	height: 50vh;
	border-radius: 50%;
	margin: 1rem;
	border: 3px solid #FF7EE2;

}

.head {
	max-width: 100%;
}

.title {
	height: 20vh;
}

.title h1 {
	margin-top: 1vw;
	font-size:6vw;
}




















